.write_animation_container{
    height: fit-content;
    width: 190px;
    border-left: black solid 3px;  
    background-color: rgba(52,52,52,0.24);
    margin: 30px;
    padding: 5px;
}
.animation_text{
    display: block; 
    font-family: monospace;
    border-right: black solid 2px;
    white-space: nowrap;
    overflow: hidden;
    font-size: x-large;
}

@keyframes typing {
    from{width: 0}
}

@keyframes blink {
    50% {border-color: transparent}
}