.about_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    scroll-behavior: smooth;
}
.section_title{
    text-align: center;
    font-size: 50px;
}
.section_subtitle{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--secondary-font-color);
}

.about_text{
    display: flex;
    color: var(--secondary-font-color);
    font-size: large;
    margin: 40px;
    justify-content: center;
}
.about_photo{
    width: 300px;
    height: 300px;
    border-radius: 15%;
    border: black solid 5px;
    margin: 50px;
}

.cv_link{
    text-decoration: none;
    display: flex;
    justify-content: center;
}

@media (max-width: 875px){
    .about_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        height: 100%;
    }
    .section_title{
        text-align: center;
        font-size: 30px;
    }
    .about_text{
        display: flex;
        flex-wrap: wrap;
        color: var(--secondary-font-color);
        font-size: small;
        margin: 20px;
    }
}

/*Small devices*/
@media (max-width: 376px){
    .section_title{
        position: relative;
        text-align: center;
        font-size: 30px;
    }
    .section_title{
        text-align: center;
        font-size: 30px;
    }
    .about_text{
        display: flex;
        flex-wrap: wrap;
        color: var(--secondary-font-color);
        font-size: small;
        margin: 10px;
    }
}
